@model IEnumerable<eCommerce.Domain.Produto>
@{
    ViewData["Produto"] = "Produto";
}




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <form class="form-inline">
        <div class="row">
            <div class="col-9">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Produtos" aria-label="Pesquisar">
            </div>
            <div class="col-3">
                <button class="btn btn-sm btn-outline-secondary my-2 my-sm-1" type="submit">Pesquisar</button>
            </div>
       </div>
    </form>
  </div>
</nav>

































@*<a class="nav-link text-dark" style="font-size:25px" asp-action="Create">Cadastrar novo produto</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade Disponivel</th>
            <th scope="col">Material</th>
            <th scope="col">Cor</th>
            <th>Opções</th>
        </tr>
    </thead>
   <tbody>
       @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>@produto.Tamanho</td>
                <td>@produto.Preco</td>
                <td>@produto.QuantidadeDisponivel</td>
                <td>@produto.Material</td>
                <td>@produto.Cor</td>
                <td style="display:flex">
                    <button class="nav-link text-dark" style="font-size:20px" asp-action="Edit" asp-route-id="@produto.Id"><i class="bi bi-pencil-square"></i></button>
                    <form asp-action="Delete" asp-route-id="@produto.Id" method="post">
                        <button type="submit" onclick="return confirm('Deseja realmente excluir esse produto?')" class="nav-link text-dark" style="font-size:20px"><i class="bi bi-x-square"></i></button>
                    </form>
                </td>
            </tr>
        }

   </tbody>

</table>*@

