@model IEnumerable<eCommerce.Domain.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome Completo
            </th>
            <th>
                Idade
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td class="d-flex">
                    <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-link" onclick="return confirm('Deseja realmente excluir esse cliente?')">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>